/* setter globale variabler for fargekodene til nettsiden */
:root {
    --red: #6B0000;
    --grey: #D9D9D9;
    --black: #202020;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";

}

body {
    font-family: Arial, Helvetica, sans-serif ;
}

main h3{
    font-size: 1.5rem;
}

main h2 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    font-size: 1rem;
    grid-area: header;
}

header button {
    display: flex;
    text-decoration: none;
    border: none;
    color: #202020;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
}

#dame-text {
    opacity: 0.4;
}



header article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 3px solid var(--red);
    align-items: center;
}

.desktop-dropdown {
    display: none;
}

#search-bar {
    display: none;
}



#nav-small {
    font-size: 2.5rem;
    color: var(--red);
    margin: 0.5rem 1rem;
    justify-content: center;
}

#nav-inside {
    border-top: 2px solid var(--red);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    z-index: 2;
}

#handlekurv-inside {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    z-index: 2;
}

.navbar {
    display: none;
}

.shopping-cart {
    display: none;
}


li {
    list-style: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    color: white;
    width: 100%;
    top: 75px;
    position: absolute;
    padding-bottom: 1rem;
}

.responsive a{
    color: white;
    text-decoration: none;
}

.responsive-cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    top: 75px;
    position: absolute;
    padding-bottom: 1rem;
    border: 4px solid #6B0000;
}

.responsive-cart li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
    padding: 0;
    border-bottom:1px solid var(--red) ;
}

.responsive-cart ul{
    padding: 0;

}

.responsive-cart h2{
    text-align: center;
    border-bottom: 1px solid var(--red);
}

#sum-cart{
    border: 0;
}

#handlekurv-inside button{
    border: none;
    background-color: var(--red);
    color: white;
}

footer {
    grid-area: footer;
    background-color: var(--red);
    color: white;
    width: 100%;
    padding-bottom: 1rem;
}

footer a{
    text-decoration: none;
    color: white;
}

#kontakt-oss, #folg-oss {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0;
}

#kampanjer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 4rem;
}

#kampanjer button {
    border: none;
    border-radius: 3px; 
    color: white;
    font-size: xx-large;
}

#kampanje-adidas {
    background-color:#408DD4;
    

}

#kampanje-generell {
    background-color: var(--red);
    margin-top: 0.3rem;
}

.product {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-self: center;
}



figure.product-image {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    background-color: var(--grey);
    justify-content: center;
    width: 18rem;
}


.caption {
    display: block;
    margin: 0.5rem;
    color: #202020;
}

.caption span{
    color: red;

}

.produkt-fremvisning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produkt-fremvisning img{
    width: 18rem;
}

#anmeldelse a{
    color: blue;
}


/* CSS til produkt siden */

.dropdown {
    border: none;
    border-radius: 3px 3px 0px 0px;
    background-color: var(--red);
    color: white;
    position: relative;
    display: inline-block;
    min-width: 8rem;
    padding: 0;
}

.dropdown button {
    background-color: var(--red);
    border: none;
    color: white;
    height: 2rem;
    margin-left: 1rem;
}

#dropdown-content {
    display: none;
    position: absolute;
    min-width: 8rem;
    z-index: 1;
    background-color: var(--red);
}

#dropdown-content a {
    display: block;
    color: white;
    padding: 0.2rem;
    
}

#dropdown-content a:hover {background-color: #202020;}

.dropdown:hover #dropdown-content {
    display: block;
}

#merke-selection {
    display: none;
}

/* Produkt side CSS */

.slideshow-container {
    max-width: fit-content;
    position: relative;
    margin: auto;
    width: 70%;
}

.slideshow {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /*margin-top: -20px;*/
    margin-left: 5rem;
    padding: 0;
    color: black;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
}

.slideshow img{
    width: 100%;
}

.next {
    right: 5rem;
}

.right {
    left: -5rem;
}


.slidenumber {
    color: black;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.box {
    border-color: black;
    border-width: 4px;
    width: 3rem;
    height: 3rem;
}

#color-black {
    background-color: black;
}

#color-green {
    background-color: green;
}

#color-blue {
    background-color: blue;
}

#dropdown-content-storrelse {
    display: none;
    position: absolute;
    min-width: 14rem;
    z-index: 1;
    background-color: white;
    border-color: var(--grey);
    border-width: 2px;
}

#dropdown-content-storrelse a{
    display: block;
    padding: 0.2rem;
}

.dropdown:hover #dropdown-content-storrelse {
    display: block;
}

#storrelse-dropdown {
    background-color: #202020;
    min-width: 14rem;
    text-align: center;
}

#storrelse-dropdown button{
    background-color: #202020;

}

#produkt-knapper {
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-around;
}

#produkt-knapper span{
    font-size: 1.5rem;
}


#kjop-knapp {
    background-color: var(--red);
    border: none;
    min-width: 14rem;
    color: white;
}

@media only screen and (min-width: 600px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }
    
    main {
        display: grid;
        grid-column-end: 3;
    }

    #ham-nav{
        display: none;
    }

    #search-nav {
        display: none;
    }

    .desktop-dropdown {
        display: flex;
        flex-direction: row;
        background-color: white;
        border: none;
        color: white;
        position: relative;
        min-width: 10rem;
    }


    .desktop-dropdown a{
        display: inline-block;
        margin: 0 1.5rem;
        position: relative;
        color: black;
    }

    .desktop-dropdown span h4 {
        color: black;
    }

    .desktop-dropdown h4{
        color: black;
    }

    ul .dropdown-content-desktop{
        color: white;
    }


    .dropdown-content-desktop {
        display: none;
        position: absolute;
        background-color: var(--red);
        color: white;
        top: 120%;
        z-index: 2;
    }

    header button {
        background-color: white;
        margin: 0;
    }

    .desktop-dropdown:hover .dropdown-content-desktop {
        display: flex;
        flex-direction: column;
    }



    #search-bar {
        display: flex;
        border: 3px solid var(--red);
        align-items: center;
        padding: 0.1rem 0.5rem;
        border-radius: 20px;
        height: 2rem;
        margin: 0 1rem;
    }

    #search-bar i {
        color: var(--red);
    }

    #search-bar input {
        border: none;
    }

    .produkt-fremvisning {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-start:1;
        grid-column-end:3;
    }

    #kampanjer {
        display: grid;
        grid-column-start:1;
        grid-column-end:3;
    }

    #kampanjer button{
        margin: 0.5rem;
        width: 50rem;
        min-height: 10rem;
        align-content: center;
    }


    #kampanje-adidas {
        display: grid;
        grid-column-start: 1;

    }

    #kampanje-generell {
        display: grid;
        grid-column-start: 3;

    }

    #anmeldelse{
        display: grid;
        grid-column-end: 2;
    }

    #anmeldelse p{
        grid-row-start:2;
    }

    #mellomdistanse {
        display: grid;
        grid-column-start: 1;
    }


    /* Piggsko side */

    #dropdown-merke {
        display: none;
    }

    #merke-selection .box {
        width: 5rem;
    }

    main h1, p, h3{
        grid-column-start: 1;
    }

    #merke-selection {
        grid-column-start: 1;
        display: block;
    }


    .box.boks-deaktiv {
        border: 4px solid var(--red);
    }

    #boks-aktiv {
        border: 4px solid var(--red);
        color: white;
        background-color: var(--red);
    }

    /* Produkt side */

    .slideshow-container {
        display: grid;
        grid-column-start:-1 ;
    }

    .slideshow-container {
        max-width: fit-content;
        position: relative;
        margin: 0;
        width: 100%;
    }
    
    #product-text {
        display: grid;
        grid-column-start: 2;
        float: left;
        align-items: start;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #kontakt-oss {
        grid-column-start: 1;
    }

    #folg-oss {
        grid-column-start: 2;
    }


    
    


}